.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.inputText {
  padding: 10px;
}

.Button {
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 10px;
}
/* 期限切れ */
.expired{
  color: red;
  font-weight: bold;
  margin-left: 10px;
}
/* タグの色変え */
.tag-study{
  color: blue;
  font-weight: bold;
}

.tag-work{
  color: red;
  font-weight: bold;
}

.tag-shopping{
  color: green;
  font-weight: bold;
}

.tag-other{
  color: gray;
  font-weight: bold;
}