.App {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
}

.inputText {
  padding: 10px;
}
/* タスク追加　削除ボタン */
.todo-action{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}


.Button {
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #cfcdcdef;
  height: 60px;
  padding: 0 20px;
  border-radius: 8px;
  font-size: 15px;
}

.Button:hover{
  background-color: aqua;
  color: white;
}

.dark .Button{
  color: white;
  background-color: #1e1e1e;
  border: 1px solid white;
}

.dark .Button:hover{
  background-color: aqua;
  color: black;
}

/* 検索 */
.search{
  width: 200px;
  height: 50px;
}
/* タグ、フィルター */
.tag-filter{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tag-filter select{
  height: 40px;
}
/* 残りのタスク　テキスト */
.rest{
  color: gray;
  font-size: 25px;
}
/* 編集 */
.edit{
  width: 80px;
  flex-shrink: 0;
  margin-left: 10px;
  padding: 4px 12px;
  background: #f0f0f0;
  color: black;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
}

.edit:hover{
  background: aqua;
  color: white;
}

.dark .edit{
  background: #1e1e1e;
  color: white;
  border: 1px solid white;
}

.dark .edit:hover{
  background: aqua;
  color: black;
}
/* チェックボックス */
.todo-item{
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 500px;
}

.todo-info{
  flex: 1;
  text-align: left;
}

.todo-list{
  width: 100%;
  max-width: 800px;
}

.todo-list-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
/* 期限切れ */
.expired{
  width: 70px;
  text-align: center;
  flex-shrink: 0;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}
/* タグの色変え */
.tag-study{
  color: blue;
  font-weight: bold;
}

.tag-work{
  color: red;
  font-weight: bold;
}

.tag-shopping{
  color: green;
  font-weight: bold;
}

.tag-other{
  color: gray;
  font-weight: bold;
}
/* モーダル */
.modal-overlay{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  width: 400px;
  padding: 20px;
  background: gray;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal label{
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* スマホ */
@media(max-width:768px){
  .tag-filter{
    flex-direction: column;
    align-items: center;
  }
  
  .search{
    width: 100%;
    max-width: 320px;
  }

  .tag-filter select{
    width: 100%;
    max-width: 320px;
  }
}

