/* カレンダー全体 */
.react-calendar{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    /* background: #fff; */
    font-size: 35px;
    color: aqua;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
/* タイル */
.react-calendar__tile{
    height: 100px;
    color: black;
    /* マスの大きさ変更 */
    border-radius: 100px;
    border: 1px solid #000;
    border-radius: 0;
}
.react-calendar__tile:hover{
    background: gold;
    cursor: pointer;
}

.dark .react-calendar__tile{
    background: #1e1e1e ; 
    color: white;
}
/* 今日の日付 */
.react-calendar__tile--now{
    background-color: blue;
    color: white;
}
/* 選択中の日付 */
.react-calendar__tile--active{
    background-color: orange;
    color: white;
}
/* マウスを載せた場合 */
.react-calendar__tile:hover{
    background-color: aqua;
}
/* ほかの月 */
.react-calendar__month-view__days__day--neighboringMonth{
    color: #000;
    background: gray;
}
/* 土日曜日 */
.react-calendar__month-view__days__day--weekend{
    color: red;
}
/* ヘッダー*/
.react-calendar__navigation{
    margin-bottom: 10px;
    height: 60px;
}
.react-calendar__navigation button{
    font-size: 30px;
    color: gray;
    background: none;
    border: none;
}
.react-calendar__navigation button:hover{
    background: aqua;
}
/* 曜日 */
.react-calendar__month-view__weekdays{
    text-align: center;
    font-weight: bold;
    color: gray;
}
.react-calendar__month-view__weekdays__weekday{
    padding: 10px 0;
}
/* クラス名 */
.calendar-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/* todoのある日付に色を付ける */
.react-calendar__tile.has-todo{
    background: #00ffc8 !important;
    color: burlywood;
}
/* memoのある日付に色を付ける */
.has-memo{
    background: #00ffc8 !important;
    color: black;
}
/* どちらもある日付に色を付ける */
.has-both{
    background: #00ffc8 !important;
    color: blueviolet;
}
/* 期限切れ表示 */
.has-expired{
    background: red !important;
    color: black;
}
/* 凡例 */
.calendar-legend{
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    justify-content: center;
}
.legend-todo,
.legend-memo,
.legend-both,
.legend-expired,
.legend-today,
.legend-choice{
    padding: 4px 12px;
    border-radius: 6px;
}
.legend-todo{
    background: #00ffc8;
    color: burlywood;
}
.legend-memo{
    background: #00ffc8;
    color: black;
}
.legend-both{
    background: #00ffc8;
    color: blueviolet;
}
.legend-expired{
    background: red;
    color: black;
}
.legend-today{
    background: blue;
    color: white;
}
.legend-choice{
    background: orange;
    color: white;
}
/* カレンダーのマスに要素を追加 */
.tile-info{
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
}