.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    /* background: white; */
    border-radius: 1px solid #ddd;
}
.nav button:hover{
    background-color: aqua;
    color: white;
}

.dark .nav button{
    background: #1e1e1e;
    color: white;
    border-radius: 1px solid #ddd;
}

.dark .nav button:hover{
    background-color: aqua;
    color: black;
}