body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 通常 */
.app{
  background: white;
  color: black;
  min-height: 100vh;
  --card-bg:white;
}
/* ダークモード */
.dark{
  background: #1e1e1e;
  color: aqua;
  --caed-bg:#333;
}